@{
    ViewData["Title"] = "Admin - Edit Comment";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@model IEnumerable<BlogApp.Models.Comment>

<div class="jumbotron jumbotron-fluid mb-4"
    style="margin-bottom: 55px !important;"
>
  <div class="container">
    <h1 class="display-6 text-center">All Comments </h1>
  </div>
</div>

<table class="table table-hover mt-4">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Author</th>
      <th scope="col">Content</th>
      <th scope="col">Related Blog </th>
      <th scope="col">CreatedDateTime</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody
  
  >
    @foreach (var item in Model)
    {
        <tr
        >
            <th scope="row">@item.CommentId</th>
            <th scope="row">@item.User.Email</th>
            <td>@item.Content</td>
            <td>@item.Blog.Title</td>
           
            <td>@item.CreatedDateTime</td>

            <td>
                
                <a href="/Comment/Edit/@item.CommentId" class="btn btn-warning"> Edit  </a>

            </td>
            <td>
                <a href="#" class="btn btn-danger"> Delete  </a>
            </td>

        </tr>
    }

  </tbody>
</table>