@model BlogApp.Models.UpdateUserViewModel


@* 
@Model.Email
@Model.FullName
@Model.Role *@
@* @Model.ProfileImage *@


<link rel="stylesheet" href="~/css/edit-profile.css">


<div class="row">
    <div class="col-5 offset-4">
        <form  
        asp-action="EditUser"
        asp-controller="Admin"
        enctype="multipart/form-data"
        >
                <h4 class="display-6  text-center pb-2  ">Edit Profile</h4>

            <div 
            asp-validation-summary="ModelOnly" class="text-danger small"></div>
            

            <div class="form-group mb-3">
              @* <input type="hidden" asp-for="@Model.BlogId" /> *@

                <label asp-for="FullName" class="form-label">FullName</label>
                <input asp-for="FullName" class="form-control" placeholder="FullName" 
               value="@Model.FullName"
                />

                <span asp-validation-for="FullName" class="text-danger small"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="Email" class="form-label">Email</label>
               
                    <input asp-for="Email" class="form-control" placeholder="Email" 
                     value="@Model.Email"
                />
                
                <span 
                
                asp-validation-for="Email" class="text-danger small"></span>
            </div>



   <div class="profile-ımg-upld-wrapper">

                    <div class="ProfilePhotoField">
                        <i class="fa-solid fa-user"></i>
                        <div class="txt">

                            <div>
                                <i class="fa-solid fa-upload"></i>
                              <span>
                              Change Profile Photo

                              </span>
                            </div>
                         
                        </div>
                        @* <input
                             name="photo"
                            type="file"

                        /> *@
                          <input type="file" asp-for="ProfileImage"
                    value="data:image/png;base64,@Html.Raw(Model.ProfileImage)"
                   />
                      
                    </div>


                    <div class="currentImage">
                        <div class="absolute">
                            Currently Image
                        </div>
                          @if (!string.IsNullOrEmpty(Model.ProfileImage))
            {
              <img src="data:image/png;base64,@Html.Raw(Model.ProfileImage)" 
              alt="userPhoto" 
              />
            }
            else
            {
                <img src="~/images/user.png" alt="userPhoto" 
                />
            }
                    </div>

                </div>

 <div class="form-group" style="margin :1rem 0 ;">
        <label asp-for="Role" class="control-label mb-2"></label>
        <div clas="d-flex flex-direction-row">
            <div class="form-check">
                <input asp-for="Role" type="radio" value="admin" class="form-check-input" />
                <label class="form-check-label">Admin</label>
            </div>
            <div class="form-check">
                <input asp-for="Role" type="radio" value="user" class="form-check-input" />
                <label class="form-check-label">User</label>
            </div>
        </div>
    </div>

            
            <div class="form-group d-grid mb-3">
                <button type="submit" class="btn btn-primary d-block"><i class="fa-solid fa-right-to-bracket me-2"></i>Edit Profile</button>
            </div>
        </form>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>

<script>
    $(document).ready(function () {
        $('input[type="file"]').change(function (e) {
            var fileName = e.target.files[0].name;
            $('.txt span').text(fileName);
        });
    });

</script>
