
@model BlogApp.Models.Blog
    @{
    ViewData["Title"] = "Detail Blog";
}
    <div class='Inclusive-detailStory-page'>

              <div class="top_detail_wrapper">

                <h5>@Model.Title</h5>

                <div class='story-general-info'>

                  <ul>
                      <li class='story-author-info'>
                      @if (Model.User.ProfileImage != null)
                      {
                          <img
                        src="data:image/png;base64,@Html.Raw(Model?.User?.ProfileImage)" />
                      }
                      else {
                          <img src="~/images/user.png" />
                      }
                    

                        <span class='story-author-username'>@Model.User.Email 
                            
                             </span>
                      </li>
                    <li class='story-createdAt'>
                      @Model.CreatedDateTime
                    </li>
                    <b>-</b>

                    <li class='story-comments-link'>
                     
                        <a href="#comments"
                        >
                            @Model.Comments.Count  comments 
                            </a>

                    </li>

                  </ul>

                    <div class="top_story_transactions">


                     @if (User.FindFirst("Email")?.Value == Model?.User?.Email)
                              {
                                <div class='editStoryLink' >
                                  <a href="/Blog/Edit/@Model.BlogId" class="btn btn-outline-warning text-warning"> Edit  </a>
                                  

                                   </div>
                                   <div class='deleteStoryLink' >
                                  <a href="/Blog/Delete/@Model.BlogId" class="btn btn-outline-danger text-danger"
                                  > Delete  </a>

                                   </div>

                              }

                    
                    </div>
                </div>

              </div>

              <div class='story-content' >

                <div class="story-banner-img">

                  @if(Model.Image != null) {

                  <img
                      src="data:image/png;base64,@Html.Raw(Model?.Image)"
                      alt="@Model.Title"
                      />
                  }
                  else {
                      <img src="~/images/default.jpg" alt="@Model.Title" />
                  }

                </div>

                <div class='content' >
                    @Model.Content
                </div>

              </div>
</div>

<div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-center " id="exampleModalToggleLabel">Add comment </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
      
        <form asp-action="Create" asp-controller="Comment" method="post">
            <input type="hidden" name="BlogId" value="@Model.BlogId" >

            <textarea class="form-control" name="Content" placeholder="Yorum..." required=""
            style="height: 120px;resize: none;"
            ></textarea>
            <div class="d-flex flex-row-reverse">
   <button type="submit" id="btnComment" 
         data-bs-toggle="modal" data-bs-dismiss="modal"   class="btn btn-primary submit mt-4">Publish</button>
</div>
            
        </form>
      </div>
    
    </div>
  </div>
</div>



<div class="Ratings_title_number d-flex justify-content-between"
style="font-family: Mukta;"
>

    Bu ürün ile ilgili @Model.Comments.Count değerlendirme var.
<a class="btn btn-link " data-bs-toggle="modal" href="#exampleModalToggle" role="button"
style="text-decoration: none;color: #0063a5 !important; "
>
<i class="fa-solid fa-comment-plus"></i>
Add Comment</a>

</div>

<div class="Comment_emp" id="comments">
  @foreach (var comment in Model.Comments.ToList()  ){

    <div class="comment_wrap">
        <div class="figureRadio">
          @if (comment.User.ProfileImage != null)
          {
              <img
      src="data:image/png;base64,@Html.Raw(comment?.User?.ProfileImage)" />
          }
          else {
              <img src="~/images/user.png" />
          }
              

        </div>
        <div class="comment_w" style="width: 500px;">
            <div class="d-flex justify-content-between ;align-items-center">
              <div class="d-flex align-items-center">

                <div class="comment_author">
                    @comment.User.Email
                </div>
                <span 
                style="margin: 0 10px ;"
                >|</span>

  <div style="font-size: 14px ;">
                   @comment.CreatedDateTime
                </div>
              </div>
            @if (User.FindFirst("Email")?.Value == comment?.User?.Email)
            {
                <div class="d-flex justify-content-between ; align-items-center" >

                <div style="margin-right: 10px ;" class="comment_link" >
                   <a href="/Comment/Edit/@comment.CommentId" class="btn btn-outline-warning text-warning"> 
                   <i class="fa-solid fa-pen-to-square"></i>
                     </a>
                </div>
                  <div class="comment_link">
                   <a href="/Comment/Delete/@comment.CommentId" class="btn btn-outline-danger text-danger"> <i class="fa-sharp fa-solid fa-trash"></i>  </a>
                </div>
             </div>

            }

              
            </div>

            <div class="sec2">
                <div class="comment_content">
                    @comment.Content

                </div>
              
            </div>

        </div>
        <hr>

    </div>

  }
</div> 

<link rel="stylesheet" href="~/css/blog-detail.css">
<link rel="stylesheet" href="~/css/comment.css">
