
@model BlogApp.Models.Blog
    @{
    ViewData["Title"] = "Detail Blog";
}

<h2> id : @Model.BlogId</h2>
<h2>@Model.Title</h2>
<p>@Model.Content</p>

Blogu yazan kullanıcı emaili  
<p>@Model?.User?.Email</p>
<img
   style="width: 100px; height: 100px;border-radius: 50%;"
      src="data:image/png;base64,@Html.Raw(Model?.User?.ProfileImage)" />
<br><br>
blog photo 
<br>
  <img
   style="width: 100px; height: 100px;"
      src="data:image/png;base64,@Html.Raw(Model?.Image)" />

@* @Model.Comments.Count *@
<br>

Aktıf kullanıcı email 
<br>
 @User.FindFirst("Email")?.Value 
<br>
@if (User.FindFirst("Email")?.Value == Model?.User?.Email)
{

    <a href="/Blog/Edit/@Model.BlogId" class="btn btn-warning"> Edit  </a>

    <a href="/Blog/Delete/@Model.BlogId" class="btn btn-danger"> Delete  </a>
}



COMMENT BLOG 


@foreach (var item in Model.Comments.ToList()  )
{
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">@item.User.Email</h5>
              <img
   style="width: 30px; height: 30px;border-radius: 50%;"
      src="data:image/png;base64,@Html.Raw(item.User.ProfileImage)" />
            @* @item.User.Email *@
            <p class="card-text">@item.Content</p>
        </div>
    </div>
}





@await Html.PartialAsync("~/Views/Comment/Create.cshtml")





